In [2]:
import pandas as pd

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [70]:
df=pd.read_csv('green_tripdata_2019-01.csv')

In [26]:
df= next(df_iter)

In [27]:
print(pd.io.sql.get_schema(df,name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [71]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [73]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [74]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

918

In [30]:
from time import time

In [65]:
df_iter=pd.read_csv('taxi+_zone_lookup.csv')

In [66]:
len(df_iter)

265

In [67]:
print(pd.io.sql.get_schema(df_iter,name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [68]:
df_iter.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

In [69]:
df_iter.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

265